<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration 
	DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" -->
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<!-- jdbc:mysql://localhost:3306/studentmanagementsystem -->
		<property name="connection.url">jdbc:mysql://localhost:3306/studentmanagementsystem</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- Automatically create or update database schema -->
		<property name="hbm2ddl.auto">update</property>
		<!-- Specify the dialect for your database -->
		<!--<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<!-- Enable or disable showing SQL statements in the console -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<mapping class="com.Entity.Admin"/>
		<mapping class="com.Entity.Employee"/>
		<mapping class="com.Entity.Company"/>
		<mapping class="com.Entity.Department"/>
		<mapping class="com.Entity.LeaveTable"/>
		<mapping class="com.Entity.Report"/>
		</session-factory>
</hibernate-configuration>